.body{
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/UlXCKcw.jpeg");
  background-color: lightgray;
};

.container-background{
  background-color: rgba($color: #FFF, $alpha: 0.7);
}
